---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<link rel="stylesheet" href="../assets/css/global.css">
<script type="module" src="../assets/js/read-more.js"></script>
<h2>Teaching Assistant</h2>
<p>Jan.2024 -- May2024</p>
<p>I was a teaching assistant for Physics202 (Introduction to Electricity
 and Magnetism). I led two discussion sessions and one lab session each
 week plus office hours. I also graded exams and prepared discussion
 problems for some weeks, and I provided course feedback for course
 improvement for the future semester.</p>

<h2>Math Grader</h2>
<p>Sept.2023 -- May2024</p>
<p>I worked as a math grader for Math421 (Proof-based Single Variable
 Calculus) where I graded assignments and provided detailed feedback to
 each student's assignment every week. In the second semester, I graded
 assignments for Math113 (Trigonometry).</p>

<h1>Other non-academic work experiences</h1>

<div class="read-more-container" max-length="1500">
<div class="read-more-text">
<h2>Library Circulation Desk Worker</h2>
<p>Sept.2022 -- June2024</p>
<p>I worked at the College Library and Memorial Library at UW-Madison as a
 circulation desk worker. I answered questions from patrons, managed
 collections, shelved books, and helped with organizing the library front
 desk. <br>
I worked near 20hr/week across multiple on-campus job during the school
 semester and 40hr/week in the summer starting from my sophomore year.</p>

<h2>Fluno Center Representative</h2>
<p>June2024 -- present</p>
<p>I worked as a front desk representative at the Fluno Center, a
 conference center affiliated to UW-Madison. I provided excellent customer service to
 our guests in a professional setting.</p>

<h2>University Housing Ambassador</h2>
<p>Sept.2022 -- Jan.2024</p>
<p>As a University Housing Ambassador, I answered questions from students
and student parents and guided housing tours to prospective students.</p>

<h2>University Housing Desk Worker</h2>
<p>May2023 -- present</p>
<p>I worked at various residence halls across campus as a front desk worker
 providing help and customer service to student residents.</p>
 </div>
 <p class="read-more-btn">...Read More</>
 </div>

<script type="module">
import {setupReadMore} from '../assets/js/read-more.js';
console.log("yes");
document.addEventListener('DOMContentLoaded', function() {
setupReadMore();
});
</script>


<!--
{% include base_path %} {% for post in site.teaching reversed %} {% include
archive-single.html %} {% endfor %}
-->
