---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<h2>Teaching Assistant</h2><br>
<p>Jan.2024 -- May2024</p><br>
<p>I was a teaching assistant for Physics202 (Introduction to Electricity
 and Magnetism). I led two discussion sessions and one lab session each
 week plus office hours. I also graded exams and prepared discussion
 problems for some weeks, and I provided course feedback for course
 improvement for the future semester.</p><br>

<h2>Math Grader</h2><br>
<p>Sept.2023 -- May2024</p><br>
<p>I worked as a math grader for Math421 (Proof-based Single Variable
 Calculus) where I graded assignments and provided detailed feedback to
 each student's assignment every week. In the second semester, I graded
 assignments for Math113 (Trigonometry).</p><br>

 <h1>Other non-academic work experience</h1>


<!--
{% include base_path %} {% for post in site.teaching reversed %} {% include
archive-single.html %} {% endfor %}
-->
